<a href="https://colab.research.google.com/github/Prince-Vijay-Santhosh/Gradstellar-Assigmnent/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1.	Implement the methods of String with examples.
#len - length of the string.
string = "Hello, World!"
print(len(string))
#find -  index of the first occurrence of a specified substring
string = "Hello, World!"
print(string.find("World"))
#replace - replaces a specified substring with another substring
string = "Hello, World!"
print(string.replace("World", "Universe"))
#upper -   all characters in a string to uppercase
string = "Hello, World!"
print(string.upper())
#lower -  all characters in a string to lowercase
string = "HELLO, WORLD!"
print(string.lower())
#split - string into a list of substrings
string = "Hello, World!"
print(string.split(","))

13
7
Hello, Universe!
HELLO, WORLD!
hello, world!
['Hello', ' World!']

In [3]:
#2. Implement the methods of List with examples
#append - adds an element to the end of the list
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
#insert - inserts an element at a specified index in the list
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list)
#extent - adds all elements of an a list to the end of the current list
my_list = [1, 2, 3]
new_list = [4, 5, 6]
my_list.extend(new_list)
print(my_list)
#remove - removes the first occurrence of a specified element from the list
my_list = [1, 2, 3, 4, 5, 6]
my_list.remove(4)
print(my_list)
#pop - removes the element at the specified index from the list and returns it. If no index is specified, it removes and returns the last element
my_list = [1, 2, 3, 4, 5, 6]
item = my_list.pop(2)
print(item)
print(my_list)
#index - returns the index of the first occurrence of a specified element in the list
my_list = [1, 2, 3, 4, 5, 6]
index = my_list.index(4)
print(index)
#count - returns the number of times a specified element appears in the list
my_list = [1, 2, 3, 4, 5, 6, 4, 3]
count = my_list.count(3)
print(count)

[1, 2, 3, 4]
[1, 4, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]
3
[1, 2, 4, 5, 6]
3
2

In [5]:
#3.	Implement the methods of Tuple with examples.
#count() no. of times a specified element appears in the tuple
my_tuple = (1, 2, 3, 4, 5, 6, 4, 3)
count = my_tuple.count(3)
print(count)
#index() index of the first occurrence 
my_tuple = (1, 2, 3, 4, 5, 6)
index = my_tuple.index(4)
print(index)
#len() 
my_tuple = (1, 2, 3, 4, 5, 6)
print(len(my_tuple))
#min()
my_tuple = (1, 2, 3, 4, 5, 6)
print(min(my_tuple))
#max() - 
my_tuple = (1, 2, 3, 4, 5, 6)
print(max(my_tuple))
#sorted() 
my_tuple = (1, 2, 3, 4, 5, 6)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

2
3
6
1
6
[1, 2, 3, 4, 5, 6]

In [6]:
#4. Implement the methods of Dictionary with examples.
#clear() - This method removes all items from the dictionary.
my_dict = {'name': 'John', 'age': 30}
my_dict.clear()
print(my_dict)
#copy() - This method returns a shallow copy of the dictionary.
my_dict = {'name': 'John', 'age': 30}
new_dict = my_dict.copy()
print(new_dict)
#items() - This method returns a view object that displays a list of the dictionary's (key, value) tuple pairs.
my_dict = {'name': 'John', 'age': 30}
items = my_dict.items()
print(items)
#keys() - This method returns a view object that displays a list of the dictionary's keys.
my_dict = {'name': 'John', 'age': 30}
keys = my_dict.keys()
print(keys)
#pop() - This method removes and returns an element with the specified key. If the key is not found, it returns a specified default value.
my_dict = {'name': 'John', 'age': 30}
age = my_dict.pop('age', None)
print(age)
print(my_dict)
#popitem() - This method removes and returns an arbitrary (key, value) pair from the dictionary.
my_dict = {'name': 'John', 'age': 30}
item = my_dict.popitem()
print(item)
print(my_dict)
#update() - This method updates the dictionary with the key/value pairs from another dictionary or from an iterable of key/value pairs.
my_dict = {'name': 'John', 'age': 30}
new_dict = {'gender': 'male'}
my_dict.update(new_dict)
print(my_dict)

{}
{'name': 'John', 'age': 30}
dict_items([('name', 'John'), ('age', 30)])
dict_keys(['name', 'age'])
30
{'name': 'John'}
('age', 30)
{'name': 'John'}
{'name': 'John', 'age': 30, 'gender': 'male'}

In [7]:
#6.	Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.
decimal_num = 42
# convert to binary
binary_num = bin(decimal_num)
print(binary_num)
# convert to octal
octal_num = oct(decimal_num)
print(octal_num)
# convert to hexadecimal
hexadecimal_num = hex(decimal_num)
print(hexadecimal_num)

0b101010
0o52
0x2a

In [23]:
#7. Implement Arithmetic operators with examples.
# + (addition) 
x = 5
y = 3
result = x + y
print(result)
# - (subtraction) 
x = 5
y = 3
result = x - y
print(result)
# * (multiplication) 
x = 5
y = 3
result = x * y
print(result)
Output: 15
# / (division)
x = 6
y = 3
result = x / y
print(result)
# % (modulus)
x = 7
y = 3
result = x % y
print(result)
# ** (exponentiation) 
x = 2
y = 3
result = x ** y
print(result)
# // (floor division)
x = 7
y = 3
result = x // y
print(result)

8
2
15
2.0
1
8
2

In [13]:
# 8.	Implement Assignment operators with examples.
# =
x = 5
print(x)
# += 
x = 5
x += 3 # same as x = x + 3
print(x)
# -=
x = 5
x -= 3 # same as x = x - 3
print(x)
# *=
x = 5
x *= 3 # same as x = x * 3
print(x)
# /= 
x = 6
x /= 3 # same as x = x / 3
print(x)
# %= 
x = 7
x %= 3 # same as x = x % 3
print(x)
# //
x = 7
x //= 3 # same as x = x // 3
print(x)
# **
x = 2
x **= 3 # same as x = x ** 3
print(x)

5
8
2
15
2.0
1
2
8

In [14]:
# 9. Implement Comparison operators with examples.
# == (equal to) 
x = 5
y = 3
result = x == y
print(result)
# != (not equal to)
x = 5
y = 3
result = x != y
print(result)
# > (greater than)
x = 5
y = 3
result = x > y
print(result)
# < (less than)
x = 5
y = 3
result = x < y
print(result)
# >=
x = 5
y = 3
result = x >= y
print(result)
# <=
x = 5
y = 3
result = x <= y
print(result)

False
True
True
False
True
False

In [15]:
#10.	Implement Logical operators with examples.
# and 
x = 5
result = (x > 0) and (x < 10)
print(result)
# or 
x = 5
result = (x < 0) or (x > 10)
print(result)
# not
x = 5
result = not (x > 0)
print(result)
# is
x = [1,2,3]
y = [1,2,3]
result = x is y
print(result)
# is not 
x = [1,2,3]
y = [1,2,3]
result = x is not y
print(result)

True
False
False
False
True

In [16]:
#11. Implement Bitwise operators with examples. 
# & (bitwise AND)
x = 5  # binary: 101
y = 3  # binary: 011
result = x & y
print(result)
# | (bitwise OR)
x = 5  # binary: 101
y = 3  # binary: 011
result = x | y
print(result)
# ^ (bitwise XOR) 
x = 5  # binary: 101
y = 3  # binary: 011
result = x ^ y
print(result)
# ~ (bitwise NOT)
x = 5  # binary: 101
result = ~x
print(result)
# << (left shift)
x = 5  # binary: 101
result = x << 1
print(result)
# >> (right shift)
x = 5  # binary: 101
result = x >> 1
print(result)

1
7
6
-6
10
2

In [22]:
# 12.	Implement Membership operators with examples.

# using the in operator
numbers = ["1","2","3","4","5"]
print("3" in numbers)
print("6" in numbers)
# using the not in operator
numbers = ["1","2","3","4","5"]
print("3" not in numbers)
print("6" not in numbers)
# string membership
word = "Hello"
print("e" in word)
print("x" in word)

True
False
False
True
True
False

In [25]:
# 13.	Implement Identity operators with examples
#is
x = ["prince", "gradstellar"]
y = ["prince", "gradstellar"]
z = x
print(x is z)
print(x is y)
print(x == y)
#is not
x = ["prince", "gradstellar"]
y = ["prince", "gradstellar"]
z = x
print(x is not z)
print(x is not y)
print(x != y)

True
False
True
False
True
False

In [31]:
# 14.	Demonstrate Negative indexing for List and apply slicing.
#negative indexing
numbers = [1, 2, 3, 4, 5]
# last element
x = numbers[-1]
# last second element
y = numbers[-2]
# first element
z = numbers[-5]
print(x)
print(y)
print(z)
#slicing
numbers = [1, 2, 3, 4, 5]

# first three elements
x = numbers[0:3]
print(x)
# last three elements
y = numbers[-3:]
print(y)
# middle three elements
z = numbers[1:-1]
print(z)

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# every 2nd element
x = numbers[0::2]
print(x)
# every 3rd element
y = numbers[0::3]
print(y)

5
4
1
[1, 2, 3]
[3, 4, 5]
[2, 3, 4]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [45]:
# 15.	Predict the output for the given code snippet and justify the result.
#print( 'A series of characters designated as one object known as a stringâ€™[::-1][4::3] ) 
#print("------")
#print( 'Welcome to Python traing program' [3:10][::-1] )

# ANSWER:
# The first print statement will output: "gnirts"
#This is because the string is first reversed using [::-1], which reverses the order of the characters in the string. Then, slicing is applied with [4::3], which starts at the 4th indexed character (the 5th character, since indexing starts at 0) and selects every 3rd character afterwards.

#The second print statement will output: "emoc"
#This is because the string is first sliced with [3:10], which selects characters from the 3rd indexed character (the 4th character) to the 9th indexed character. Then, the selected slice is reversed using [::-1], which reverses the order of the characters in the slice.

#So the first print statement prints every 3rd character from the reversed string after 4th position, in this case gnirts. Second print statement prints the slice of the string 'Welcome to Python traing program' from 4th to 9th position in reverse order, in this case emoc.

In [40]:
# 16.	Write a python code to get desired output input sting : p_phrase="was it a car or a cat I saw" Output String : WAS I TAC A RO RAC A TI SA W
p_phrase = "was it a car or a cat I saw"
output = ' '.join([word.upper()[::-1] for word in p_phrase.split()])
print(output)

SAW TI A RAC RO A TAC I WAS

In [44]:
#17.	You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X.
#Input X= 2 Output ZZOOOO
#Input X= 5 Output ZZZZZOOOOOOOOOO

x = 2
y = x * 2
output = 'Z'*x + 'O'*y
print(output)
x = 5
y = x * 2
output = 'Z'*x + 'O'*y
print(output)

ZZOOOO
ZZZZZOOOOOOOOOO